#ifndef CODEX_APP_{{MODULE_GUARD}}_H
#define CODEX_APP_{{MODULE_GUARD}}_H

#include "main.h"

void {{MODULE_NAME}}_init(void);
void {{MODULE_NAME}}_process(void);
void {{MODULE_NAME}}_write(GPIO_PinState state);
void {{MODULE_NAME}}_toggle(void);

#endif /* CODEX_APP_{{MODULE_GUARD}}_H */
